.card {
  display: flex;
  width: 350px;

  img {
    margin-right: 16px;
    height: 64px;
  }

  h2 {
    margin-bottom: 16px;
  }

  p {
    font-size: 12px;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 800px;
  margin: 0 auto;
  gap: 16px;
}
