$black: #2c2c2c;
$black-400: #5e5e5e;
$black-300: #b5b5b5;
$black-200: #dddddd;
$white: #fcfcfc;

.appointmentSection {
  padding: 64px 0;
  .heading {
    h1 {
      font-size: 64px;
      font-weight: 100;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        background-image: url("/public/brain.jpg");
        background-size: cover;
        background-position: left;
        width: 200px;
        height: 64px;
        border-radius: 64px;
      }
    }

    h1:nth-of-type(2) {
      span {
        background: linear-gradient(45deg, #4136f1, #8743ff);
        color: $white;
        transform: rotate(10deg);
        padding: 8px 32px;
        border-radius: 64px;
        margin-left: 16px;
        margin-top: 16px;
      }
    }
  }

  .stat {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 400px;
    height: fit-content;

    .wrapper {
      display: flex;
      align-items: center;
      gap: 16px;

      img {
        background-color: $black;
        padding: 16px;
        border-radius: 32px;
        transform: rotate(-135deg);
      }

      h3 {
        font-size: 40px;
        font-weight: 100;
        color: $black;
      }
    }

    p {
      font-size: 32px;
      font-weight: 100;
      color: $black-400;
    }
  }

  .card {
    padding: 64px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .container {
      width: 300px;
      height: 400px;
      position: relative;
      img {
        position: relative;
        z-index: 5;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
      }

      div {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        border-radius: 16px;
      }

      .one {
        transform: rotate(-5deg);
        background-color: #4136f1;
        z-index: 4;
      }

      .second {
        transform: rotate(-10deg);
        background-color: #623cf8;
        z-index: 3;
      }

      .third {
        transform: rotate(-15deg);
        background-color: #8743ff;
        z-index: 2;
      }
    }
  }
}

.consultantSection {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 32px 0;

  .text {
    width: 500px;
    height: 100%;
    margin-right: 32px;

    h1 {
      font-weight: 100;
      font-size: 64px;
      color: $black;
    }

    p {
      font-size: 12px;
      width: 60%;
      color: $black-400;
    }
  }

  .wrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 4;
    flex-direction: column;

    .row {
      display: flex;

      .consultant {
        width: fit-content;
        margin: 4px;

        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
          object-position: top;
        }
      }
    }

    .top {
      .user1 {
        border-radius: 100px 100px 0 100px;
      }
      .user2 {
        border-radius: 100px 100px 100px 0;
      }
    }

    .bot {
      .user3 {
        border-radius: 100px 0 100px 100px;
      }
      .user4 {
        border-radius: 0 100px 100px 100px;
      }
    }
  }
}

.optionSection {
  padding: 80px 0;
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 64px;

    .card {
      width: 45vw;
      padding: 32px;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

      .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;

        h1 {
          font-size: 40px;
          font-weight: 100;
        }
        .container {
          ul {
            padding: 0 0 0 64px;
          }
        }
      }

      .right {
        button {
          background-color: transparent;
          border: none;
          display: flex;
          align-items: center;
          color: $black;
          gap: 16px;
          cursor: pointer;

          img {
            transform: rotate(-135deg);
            padding: 8px;
            border-radius: 32px;
            background-color: $black;
          }
        }
      }
    }

    .cRight {
      border-radius: 16px 0 0 16px;
      background: linear-gradient(
        45deg,
        rgba(65, 54, 241, 0.7),
        rgba(135, 67, 255, 0.7)
      );
      backdrop-filter: blur(10px);
      .left {
        h1 {
          color: $white;
        }

        button {
          color: $white;
        }

        .container {
          ul {
            li {
              color: $white;
            }
          }
        }
      }
    }

    .cLeft {
      border-radius: 0 16px 16px 0;
      background-color: $white;
      .left {
        button {
          img {
            background: linear-gradient(
              45deg,
              rgba(65, 54, 241, 0.7),
              rgba(135, 67, 255, 0.7)
            );
            backdrop-filter: blur(10px);
          }
        }
      }
    }
  }
}

.differencesSection {
  padding: 16px;
  width: 100%;

  .container {
    border-radius: 16px;
    padding: 80px 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      45deg,
      rgba(65, 54, 241, 0.7),
      rgba(135, 67, 255, 0.7)
    );
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    align-items: start;

    .heading {
      color: $white;
      text-align: center;
      width: 100%;
      font-weight: 100;
      font-size: 64px;
    }

    .containerCard {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 80px;

      .card {
        height: fit-content;
        background: rgba(255, 255, 255, 0.3); /* Warna semi-transparan */
        color: $black;
        width: 450px;
        padding: 32px;
        border-radius: 16px;
        backdrop-filter: blur(10px); /* Efek blur untuk glassmorphism */
        -webkit-backdrop-filter: blur(10px); /* Untuk dukungan browser Safari */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk efek depth */
        border: 1px solid rgba(255, 255, 255, 0.2); /* Batas semi-transparan */
        color: $white;

        h1 {
          margin-bottom: 24px;
          font-size: 32px;
        }

        .wrapper {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }
    }
  }
}

.pricingSection {
  height: 100vh;
  padding: 64px 0;

  .heading {
    text-align: center;
    width: 100%;
    font-size: 64px;
    font-weight: 100;
    color: $black;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 64px;
    padding: 32px 0;
  }

  .card {
    width: 300px;
    height: fit-content;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    .top {
      height: 25%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      .level {
        background: linear-gradient(
          45deg,
          rgba(65, 54, 241, 0.7),
          rgba(135, 67, 255, 0.7)
        );
        backdrop-filter: blur(10px);
        color: $white;
        width: fit-content;
        padding: 8px 16px;
        border-radius: 16px;
        p {
          font-size: 20px;
        }
      }

      .desc {
        font-size: 14px;
        color: $black-400;
      }
    }

    .price {
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      h1 {
        font-size: 48px;
        font-weight: 100;
        color: $black;
        display: flex;
        align-items: end;
        gap: 8px;

        h2 {
          font-size: 24px;
          font-weight: 100;
          color: $black-400;
        }
      }
    }

    .feature {
      width: 100%;
      height: 35%;

      ul {
        padding: 0 0 0 16px;
        li {
          font-size: 16px;
          color: $black-400;
          margin: 8px 0;
        }
      }
    }

    .cta {
      width: 100%;
      height: 15%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      button {
        width: 100%;
        height: 100%;
        color: $black;
        border: none;
        border-radius: 16px;
        font-size: 18px;
        font-weight: 100;
        cursor: pointer;
        padding: 16px 0;
        background-color: transparent;

        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      }
    }
  }
}

.faqSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 80px 5vw;
  gap: 32px;

  .left {
    flex-basis: 40%;

    h1 {
      width: fit-content;
      font-size: 64px;
      font-weight: 100;
      margin-bottom: 16px;
    }

    p {
      width: 100%;
    }
  }

  .right {
    flex-basis: calc(60% - 32px);
    display: flex;
    flex-direction: column;
    gap: 8px;

    .question {
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      padding: 24px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      h1 {
        font-size: 24px;
        font-weight: 600;
        color: $black;
      }

      p {
        font-size: 16px;
        color: $black-400;
      }
    }
  }
}
