$black: #2c2c2c;
$black-400: #5e5e5e;
$black-300: #b5b5b5;
$black-200: #dddddd;
$white: #fcfcfc;

.appointmentSection {
  padding: 64px 0;
  @media (max-width: 768px) {
    padding: 32px 0;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .textReveal {
      h1 {
        font-size: 48px; // Adjusted for medium screens
        font-weight: 100;
        display: flex;
        flex-wrap: wrap; // Ensure text breaks properly on smaller screens
        justify-content: center;
        align-items: center;
        text-align: center;

        p {
          background-image: url("/public/brain.jpg");
          background-size: cover;
          background-position: left;
          width: 200px;
          height: 64px;
          border-radius: 64px;
        }

        @media (max-width: 768px) {
          font-size: 36px; // Smaller font size for smaller screens
          p {
            width: 150px;
            height: 48px;
          }
        }

        @media (max-width: 480px) {
          font-size: 28px;
          p {
            width: 120px;
            height: 40px;
          }
        }
      }
    }

    .bot {
      h1 {
        span {
          background: linear-gradient(45deg, #4136f1, #8743ff);
          color: $white;
          padding: 8px 32px;
          border-radius: 64px;
          margin-left: 16px;
          margin-top: 16px;

          @media (max-width: 768px) {
            padding: 6px 24px;
            margin-top: 12px;
            margin-left: 12px;
          }

          @media (max-width: 480px) {
            padding: 4px 16px;
            margin-top: 8px;
            margin-left: 8px;
          }
        }
      }
    }
  }

  .stat {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 400px;
    height: fit-content;

    @media (max-width: 768px) {
      width: 100%;
      align-items: center;
      padding-bottom: 16px;
    }

    .wrapper {
      display: flex;
      align-items: center;
      gap: 16px;
      padding-top: 16px;

      img {
        background-color: $black;
        padding: 16px;
        border-radius: 32px;
        transform: rotate(-135deg);

        @media (max-width: 480px) {
          padding: 12px;
        }
      }

      h3 {
        font-size: 40px;
        font-weight: 100;
        color: $black;

        @media (max-width: 768px) {
          font-size: 32px;
        }

        @media (max-width: 480px) {
          font-size: 28px;
        }
      }
    }

    p {
      font-size: 32px;
      font-weight: 100;
      color: $black-400;

      @media (max-width: 768px) {
        font-size: 28px;
        text-align: center;
      }

      @media (max-width: 480px) {
        font-size: 24px;
      }
    }
  }

  .helped {
    align-items: end;

    @media (max-width: 768px) {
      align-items: center;
    }
  }

  .card {
    padding: 64px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; // Ensure it wraps on smaller screens

    @media (max-width: 768px) {
      padding: 32px 0;
    }

    .container {
      width: 300px;
      height: 400px;
      position: relative;

      @media (max-width: 768px) {
        width: 200px;
        height: 300px;
      }

      @media (max-width: 480px) {
        width: 150px;
        height: 250px;
      }

      img {
        position: relative;
        z-index: 5;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
      }

      div {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        border-radius: 16px;
      }

      .one {
        transform: rotate(-5deg);
        background-color: #4136f1;
        z-index: 4;
      }

      .second {
        transform: rotate(-10deg);
        background-color: #623cf8;
        z-index: 3;
      }

      .third {
        transform: rotate(-15deg);
        background-color: #8743ff;
        z-index: 2;
      }
    }
  }
}

.consultantSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 24px 0;
  }

  .text {
    width: 500px;
    margin-right: 32px;

    @media (max-width: 768px) {
      width: 100%;
      margin-right: 0;
      text-align: center;
      margin-bottom: 24px;
    }

    h1 {
      font-weight: 100;
      font-size: 64px;
      color: $black;

      @media (max-width: 768px) {
        font-size: 48px;
      }

      @media (max-width: 480px) {
        font-size: 32px;
      }
    }

    p {
      font-size: 12px;
      width: 60%;
      color: $black-400;

      @media (max-width: 768px) {
        width: 100%;
      }

      @media (max-width: 480px) {
        font-size: 14px;
      }
    }
  }

  .wrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media (max-width: 768px) {
      align-items: center;
    }

    .row {
      display: flex;

      @media (max-width: 768px) {
        justify-content: center;
      }

      .consultant {
        width: fit-content;
        margin: 4px;

        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
          object-position: top;

          @media (max-width: 768px) {
            width: 120px;
            height: 120px;
          }

          @media (max-width: 480px) {
            width: 100px;
            height: 100px;
          }
        }
      }
    }

    .top {
      .user1 {
        border-radius: 100px 100px 0 100px;
      }
      .user2 {
        border-radius: 100px 100px 100px 0;
      }
    }

    .bot {
      .user3 {
        border-radius: 100px 0 100px 100px;
      }
      .user4 {
        border-radius: 0 100px 100px 100px;
      }
    }
  }
}

.optionSection {
  padding: 80px 0;

  @media (max-width: 768px) {
    padding: 40px 0;
  }

  a {
    text-decoration: none;
    color: $black;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 64px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 32px;
    }

    .card {
      width: 45vw;
      padding: 32px;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

      @media (max-width: 768px) {
        width: 100%;
        padding: 24px;
      }

      @media (max-width: 480px) {
        padding: 16px;
      }

      .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;

        h1 {
          font-size: 40px;
          font-weight: 100;

          @media (max-width: 768px) {
            font-size: 32px;
          }

          @media (max-width: 480px) {
            font-size: 24px;
          }
        }

        .container {
          ul {
            padding: 0 0 0 64px;

            @media (max-width: 768px) {
              padding-left: 32px;
            }

            @media (max-width: 480px) {
              padding-left: 16px;
            }

            li {
              font-size: 18px;

              @media (max-width: 480px) {
                font-size: 16px;
              }
            }
          }
        }
      }

      .right {
        button {
          background-color: transparent;
          border: none;
          display: flex;
          align-items: center;
          color: $black;
          gap: 16px;
          cursor: pointer;

          img {
            transform: rotate(-135deg);
            padding: 8px;
            border-radius: 32px;
            background-color: $black;

            @media (max-width: 768px) {
              padding: 6px;
            }

            @media (max-width: 480px) {
              padding: 4px;
            }
          }
        }
      }
    }

    .cRight {
      transition: box-shadow 0.5s;
      border-radius: 16px 0 0 16px;
      background: linear-gradient(
        45deg,
        rgba(65, 54, 241, 0.7),
        rgba(135, 67, 255, 0.7)
      );
      backdrop-filter: blur(10px);

      .left {
        h1 {
          color: $white;
        }

        button {
          color: $white;
        }

        .container {
          ul {
            li {
              color: $white;
            }
          }
        }
      }
    }

    .cRight:hover {
      box-shadow: rgba(65, 54, 241, 0.48) 6px 2px 16px 0px,
        rgba(135, 67, 255, 0.8) -6px -2px 16px 0px;
    }

    .cLeft {
      transition: box-shadow 0.5s;
      border-radius: 0 16px 16px 0;
      background-color: $white;

      .left {
        button {
          img {
            background: linear-gradient(
              45deg,
              rgba(65, 54, 241, 0.7),
              rgba(135, 67, 255, 0.7)
            );
            backdrop-filter: blur(10px);
          }
        }
      }
    }

    .cLeft:hover {
      box-shadow: rgba(124, 119, 176, 0.2) 6px 2px 16px 0px,
        rgb(189, 142, 237) -6px -2px 16px 0px;
    }
  }
}

.differencesSection {
  padding: 16px;
  width: 100%;

  .container {
    border-radius: 16px;
    padding: 80px 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      45deg,
      rgba(65, 54, 241, 0.7),
      rgba(135, 67, 255, 0.7)
    );
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    @media (max-width: 768px) {
      padding: 60px 0;
      gap: 40px;
    }

    @media (max-width: 480px) {
      padding: 40px 0;
    }

    .heading {
      color: $white;
      text-align: center;
      width: 100%;
      font-weight: 100;
      font-size: 64px;

      @media (max-width: 768px) {
        font-size: 48px;
      }

      @media (max-width: 480px) {
        font-size: 32px;
      }
    }

    .containerCard {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 80px;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 40px;
      }

      .card {
        height: fit-content;
        background: rgba(255, 255, 255, 0.3);
        color: $black;
        width: 450px;
        padding: 32px;
        border-radius: 16px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: $white;

        @media (max-width: 768px) {
          width: 100%;
          padding: 24px;
        }

        @media (max-width: 480px) {
          padding: 16px;
        }

        h1 {
          font-size: 32px;

          @media (max-width: 768px) {
            font-size: 28px;
          }

          @media (max-width: 480px) {
            font-size: 24px;
          }
        }

        .wrapper {
          margin-top: 24px;
          display: flex;
          flex-direction: column;
          gap: 16px;

          @media (max-width: 768px) {
            margin-top: 16px;
            gap: 12px;
          }

          @media (max-width: 480px) {
            margin-top: 12px;
            gap: 8px;
          }
        }
      }
    }
  }
}

.pricingSection {
  height: 100vh;
  padding: 64px 0;

  .heading {
    text-align: center;
    width: 100%;
    font-size: 64px;
    font-weight: 100;
    color: $black;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 64px;
    padding: 32px 0;
  }

  .card {
    width: 300px;
    height: fit-content;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    .top {
      height: 25%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      .level {
        background: linear-gradient(
          45deg,
          rgba(65, 54, 241, 0.7),
          rgba(135, 67, 255, 0.7)
        );
        backdrop-filter: blur(10px);
        color: $white;
        width: fit-content;
        padding: 8px 16px;
        border-radius: 16px;
        p {
          font-size: 20px;
        }
      }

      .desc {
        font-size: 14px;
        color: $black-400;
      }
    }

    .price {
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      h1 {
        font-size: 48px;
        font-weight: 100;
        color: $black;
        display: flex;
        align-items: end;
        gap: 8px;

        h2 {
          font-size: 24px;
          font-weight: 100;
          color: $black-400;
        }
      }
    }

    .feature {
      width: 100%;
      height: 35%;

      ul {
        padding: 0 0 0 16px;
        li {
          font-size: 16px;
          color: $black-400;
          margin: 8px 0;
        }
      }
    }

    .cta {
      width: 100%;
      height: 15%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      button {
        width: 100%;
        height: 100%;
        color: $black;
        border: none;
        border-radius: 16px;
        font-size: 18px;
        font-weight: 100;
        cursor: pointer;
        padding: 16px 0;
        background-color: transparent;

        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      }
    }
  }
}

.faqSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 80px 5vw;
  gap: 32px;

  .left {
    flex-basis: 40%;

    h1 {
      width: fit-content;
      font-size: 64px;
      font-weight: 100;

      @media (max-width: 768px) {
        font-size: 48px;
      }

      @media (max-width: 480px) {
        font-size: 32px;
      }
    }

    p {
      margin-top: 24px;
      width: 100%;
      font-size: 16px;

      @media (max-width: 768px) {
        font-size: 14px;
      }

      @media (max-width: 480px) {
        font-size: 12px;
      }
    }
  }

  .right {
    flex-basis: calc(60% - 32px);
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: 768px) {
      flex-basis: 100%;
    }

    .question {
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      padding: 24px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      @media (max-width: 768px) {
        padding: 16px;
      }

      @media (max-width: 480px) {
        padding: 12px;
      }

      h1 {
        font-size: 24px;
        font-weight: 600;
        color: $black;

        @media (max-width: 768px) {
          font-size: 20px;
        }

        @media (max-width: 480px) {
          font-size: 18px;
        }
      }

      p {
        font-size: 16px;
        color: $black-400;

        @media (max-width: 768px) {
          font-size: 14px;
        }

        @media (max-width: 480px) {
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 60px 4vw;
    gap: 24px;
  }

  @media (max-width: 480px) {
    padding: 40px 3vw;
    gap: 16px;
  }
}
