$black: #2c2c2c;
$black-400: #5e5e5e;
$black-300: #b5b5b5;
$black-200: #dddddd;
$white: #fcfcfc;
$border-radius: 32px;
$font-size: 14px;

.navbar {
  z-index: 100;
  display: flex;
  padding: 2px;
  background-color: $black-200;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 32px;
  border-radius: $border-radius;

  .home {
    font-size: $font-size;
    font-weight: 700;
    text-decoration: none;
    background-color: $black;
    padding: 16px 24px;
    width: 100%;
    border-radius: $border-radius;
    z-index: 5;

    a {
      color: $white;
      text-decoration: none;
      font-size: $font-size;
    }
  }

  .link {
    display: flex;
    align-items: center;
    background-color: $white;
    border-radius: $border-radius;
    position: relative;

    a {
      padding: 0 24px;
      text-decoration: none;
      font-size: $font-size;
      z-index: 2;
      height: 49px;
      display: flex;
      align-items: center;
    }
  }

  .backgroundHovered {
    position: absolute;
    height: 48.8px;
    background-color: $black-300;
    border-radius: $border-radius;
    transform: translateX(-94.69px);
  }
}
