$black: #2c2c2c;
$black-400: #5e5e5e;
$black-300: #b5b5b5;
$black-200: #dddddd;
$white: #fcfcfc;
$blue: #4136f1;
$padding-large: 32px 64px;
$padding-medium: 24px;
$padding-small: 16px;
$font-size-large: 36px;
$font-size-medium: 32px;
$font-size-small: 24px;
$font-size-xsmall: 14px;
$border-radius: 32px;

.aboutSection {
  padding: $padding-large;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    padding: $padding-medium;
  }

  h1 {
    color: $blue;
    font-size: $font-size-large;

    @media (max-width: 768px) {
      font-size: $font-size-small;
      text-align: center;
    }
  }

  .container {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    .left {
      flex-basis: 50%;

      @media (max-width: 768px) {
        flex-basis: 100%;
        text-align: center;
      }

      .textReveal {
        h2 {
          line-height: 150%;
          font-size: $font-size-medium;

          @media (max-width: 768px) {
            font-size: $font-size-small;
          }

          span {
            color: $blue;
          }
        }
      }

      .textReveal:nth-of-type(2) {
        span {
          border: $blue 2px solid;
          border-radius: 20px;
          padding: 4px 16px;
          color: $black;

          @media (max-width: 768px) {
            display: inline-block;
            margin-top: 8px;
          }
        }
      }

      p {
        margin-top: 32px;
        font-size: $font-size-xsmall;
        width: 500px;
        color: $black-400;

        @media (max-width: 768px) {
          width: 100%;
        }
      }

      button {
        display: flex;
        align-items: center;
        padding: $padding-small 32px;
        color: $white;
        background: linear-gradient(90deg, $blue 0%, #7b3ff2 100%);
        border-radius: $border-radius;
        gap: 16px;
        border: none;
        margin: 32px 0;
        font-size: 16px;
        transition: box-shadow 0.5s;

        @media (max-width: 768px) {
          justify-content: center;
          width: 100%;
        }

        img {
          transform: rotate(-135deg);
          height: 16px;
          width: 16px;
          transition: transform 0.5s;
        }
      }

      button:hover {
        box-shadow: rgba(65, 54, 241, 0.48) 6px 2px 16px 0px,
          rgba(135, 67, 255, 0.8) -6px -2px 16px 0px;
      }

      button:hover img {
        transform: rotate(225deg);
      }
    }

    .right {
      flex-basis: 50%;
      height: auto;
      position: relative;
      padding: $padding-large;

      @media (max-width: 768px) {
        flex-basis: 100%;
        padding: $padding-small;
      }

      .wrapper {
        position: relative;
        width: 100%;
        height: 430px;
        background: linear-gradient(to right, $blue, #8743ff);
        border-radius: 16px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        @media (max-width: 768px) {
          height: 300px;
        }

        img {
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
      }

      img {
        position: absolute;
        width: 400px;
        height: 230px;
        object-fit: cover;
        border-radius: 16px;

        @media (max-width: 768px) {
          width: 100%;
          height: 180px;
        }
      }

      .firstImg {
        top: -32px;
        right: -32px;

        @media (max-width: 768px) {
          top: 0;
          right: 0;
        }
      }

      .secondImg {
        left: -32px;
        bottom: -32px;

        @media (max-width: 768px) {
          left: 0;
          bottom: 0;
        }
      }
    }
  }
}
