$black: #2c2c2c;
$black-400: #5e5e5e;
$black-300: #b5b5b5;
$black-200: #dddddd;
$white: #fcfcfc;

.brands {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 64px 0;

  hr {
    width: 80%;
    border: 1px solid $black-200;
  }

  div {
    width: fit-content;
    height: 100%;
    display: flex;
    gap: 32px;
    padding: 32px 0;

    img {
      height: 70px;
      width: 150px;
      background-color: $black-300;
    }
  }
}
